<h2><%= @cocktail.name %></h2>
<p><% @cocktail.doses.each do |dose|%></p>
<p> <%= dose.description %> <%= dose.ingredient.name %></p>
<% end %>

<%= link_to "acceuil",  cocktails_path  %>
<%= link_to "ajouter recette",  new_cocktail_dose_path(@cocktail)  %>
